<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG_Listeners" parallel="false">
<listeners>
    <listener class-name="Listenerclass_layer.Listenertest" /> </listeners>
<test name="Test">
    <classes>
        <class name="Pagelayer.ITestListener_example" /> </classes>
</test>
</suite>